<ul>
  <li>Your score is: <%= @result[:score] %></li>
  <li>The translation is: <%= @result[:translation] %></li>
  <li>Time to answer: <%= @result[:time] %> seconds</li>
  <li>and we wanted to tell you: <%= @result[:message] %></li>
</ul>
